<div class="d-flex justify-center pb-8 pt-8">
    <img src="img/logo.png" alt="Dima - Seu Controle Financeiro" width="200">
</div>

<MudNavMenu>
    <MudNavLink Href="@PageRoutes.Home" Match="NavLinkMatch.All">Dashboard</MudNavLink>
    <MudNavLink Href="@PageRoutes.LancamentosHistorico">Histórico</MudNavLink>
    <MudNavLink Href="@PageRoutes.Categorias">Categorias</MudNavLink>
    <MudNavLink Href="@PageRoutes.Premium">Premium</MudNavLink>
    <MudNavLink Href="@PageRoutes.Logout">Sair</MudNavLink>
</MudNavMenu>